if SHIELD_PATHFINDER_LEFT

config ZMK_KEYBOARD_NAME
    default "Pathfinder"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_PATHFINDER_LEFT || SHIELD_PATHFINDER_RIGHT

config ZMK_SPLIT
    default y

endif