/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&lt { tapping-term-ms = <300>; };

/ {
    combos {
        compatible = "zmk,combos";

        combo_game {
            timeout-ms = <50>;
            key-positions = <0 5>;
            bindings = <&tog 0>;
        };
    };
};

/ {
    macros {
        PriorityLeft: PriorityLeft {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(Z) &kp N9 &kp N1>;
            label = "PRIORITYLEFT";
        };

        PriorityCenter: PriorityCenter {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(Z) &kp N9 &kp N2>;
            label = "PRIORITYCENTER";
        };

        PriorityRight: PriorityRight {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(Z) &kp N9 &kp N3>;
            label = "PRIORITYRIGHT";
        };

        SplitLeft: SplitRight {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(Z) &kp N4 &kp N1>;
            label = "SPLITRIGHT";
        };

        SplitRight: SplitRight {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(Z) &kp N4 &kp N2>;
            label = "SPLITRIGHT";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp GRAVE  &kp N1  &kp N2  &kp N3    &kp N4     &kp N5                             &kp N6     &kp N7    &kp N8  &kp N9     &kp N0   &kp MINUS
&kp TAB    &kp Q   &kp W   &kp E     &kp R      &kp T      &kp ESC                 &kp CAPS   &kp Y     &kp U   &kp I      &kp O    &kp P      &kp BSLH
&kp LALT   &kp A   &kp S   &kp D     &kp F      &kp G      &kp EQUAL               &kp PSCRN  &kp H     &kp J   &kp K      &kp L    &kp SEMI   &kp SQT
&kp LSHFT  &kp Z   &kp X   &kp C     &kp V      &kp B      &kp LBKT                &kp RBKT   &kp N     &kp M   &kp COMMA  &kp DOT  &kp FSLH   &kp LGUI
                           &kp LGUI  &kp LCTRL  &lt 0 RET             &lt 0 SPACE  &kp BSPC   &kp RALT
            >;
        };

        Macros {
            bindings = <
&trans  &PriorityLeft  &PriorityCenter  &PriorityRight  &SplitLeft  &SplitRight                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans         &trans           &trans          &trans      &trans       &trans          &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans         &trans           &trans          &trans      &trans       &trans          &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans         &trans           &trans          &trans      &trans       &trans          &trans  &trans  &trans  &trans  &trans  &trans  &trans
                                        &trans          &trans      &trans               &trans  &trans  &trans
            >;
        };

        FuncsArrows {
            bindings = <
&none   &kp F1        &kp F2        &kp F3        &kp F4        &kp F5                                &kp F6      &kp F7     &kp F8    &kp F9    &kp F10    &none
&trans  &kp F11       &kp F12       &kp F13       &kp F14       &kp F15       &bt BT_CLR_ALL          &none       &kp PG_UP  &kp HOME  &kp UP    &kp END    &kp PRINTSCREEN  &none
&trans  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_SEL 5  &bt BT_CLR              &none       &kp PG_DN  &kp LEFT  &kp DOWN  &kp RIGHT  &none            &none
&trans  &none         &none         &none         &none         &none         &none                   &none       &none      &none     &none     &none      &none            &none
                                    &trans        &trans        &trans                        &trans  &kp DELETE  &trans
            >;
        };
    };
};
